html,
body
  -webkit-font-smoothing: antialiased

html
  +box-sizing(border-box)
  height: 100%
  color: $black

body
  min-height: 100%
  +display-flex(flex)
  +flex-direction(column)
  scroll-behavior: smooth
  overflow-x: hidden

.content
  +flex(1 0 auto)

.header,
.footer
  +flex-shrink(0)

img
  max-width: 100%

a
  &:link,
  &:visited,
  &:hover,
  &:active
    text-decoration: none
    cursor: pointer

a,
button
  +transition(.2s)
  &:visited,
  &:hover,
  &:active,
  &:focus
    outline: none

.pr0
  padding-right: 0

.cui
  cursor: initial

.hover-scale
  &:hover
    +transform(scale(1.05))

.title
  font-size: $base-font-size * 2
  +adjust-font-size-to($base-font-size * 2)
  font-family: 'oswaldmedium', sans-serif

.subtitle
  font-size: $base-font-size * 1.5
  +adjust-font-size-to($base-font-size * 1.5)
  letter-spacing: 1px
  font-family: 'oswald_regularregular', sans-serif

.nav-item
  font-size: $base-font-size * 1.5
  +adjust-font-size-to($base-font-size * 1.5)
  font-family: 'oswald_demibolddemibold', sans-serif
  text-transform: uppercase

.text
  font-size: $base-font-size

.small-text
  font-size: $base-font-size * .75
  +adjust-font-size-to($base-font-size * .75)

