html
  +box-sizing(border-box)
  height: 100%
  color: $black

body
  min-height: 100%
  +display-flex(flex)
  +flex-direction(column)
  scroll-behavior: smooth

.content
  +flex(1 0 auto)

.header,
.footer
  +flex-shrink(0)

img
  max-width: 100%

a
  &:link,
  &:visited,
  &:hover,
  &:active
    text-decoration: none
    cursor: pointer

a,
button
  +transition(.2s)

h4
  +adjust-font-size-to(20px)
  font-family: 'Oswald', sans-serif
  letter-spacing: 1px