.content
  animation: bounceInUp 1s
  &_potfolio
    +display-flex(flex)
    +flex-flow(row nowrap)
    +justify-content(space-between)
    +padding-leader(.5)
    overflow: hidden
    &_item
      +display-flex(inline-flex)
      +flex-flow(column nowrap)
      width: 30%
      overflow: hidden
      cursor: auto
      color: $black
      &:hover
        color: $black
        .content_potfolio_item__desc
          color: $black
      &[href^="http"]:hover
        cursor: pointer
        .content_potfolio_item__desc
          color: $black
          opacity: .8
          cursor: pointer
          +transition(.2s)
      &_wrap
        position: relative
        width: 100%
        overflow: hidden
        &:before
          content: ""
          display: block
          padding-top: 100%
      &__img
        position:  absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
      &__desc
        +leader(.5)
        color: $black
        cursor: text
  &_title
    @extend .title
    letter-spacing: 1px
    color: $black
    +leader(.3)
    +trailer(.3)
    background-image: -webkit-linear-gradient(180deg, #0e6ca6, #56cc9c, #b274d3)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -webkit-animation: hue 30s infinite linear
    font-weight: 400
  &_text
    text-align: justify
  &_info
    &__img
      margin-top: 10px
      max-width: 150px
.about
  +trailer(1)

.portfolio,
.why,
.contacts
  +leader(1.5)
  +trailer(1)


$icons: sprite-map('icons/*.png')
i
  background: $icons
  display: inline-block
  vertical-align: text-bottom
  margin-right: .5em

@each $i in sprite_names($icons)
  .icn-#{$i}
    background-position: sprite-position($icons, $i)
    +sprite-dimensions($icons, $i)


.contacts
  &_list
    &_item
      display: block
      +trailer(.4)
      color: $black
      letter-spacing: normal
      &:hover
        color: $black
        letter-spacing: .3px
        opacity: .85
        +transition(.3s)
        i
          margin-right: 12px
          +transition(.3s)

.table
  width: 100%
  &_head
    background: #dddddd
    padding-left: 1em
    &__text
      display: inline-block
      text-transform: uppercase
      font-family: 'latomedium'
      +leader(.1)
      +trailer(.1)
    &+.table_content span
      +leader(.1)
  &_content
    &>td
      padding: 0 0 0 2em !important
      vertical-align: top !important
      border-top: 0 !important
      span
        +trailer(.1)
        display: inline-block

.bottom-indent
  &>td
    span
      +trailer(.25)
      display: inline-block


@media screen and (max-width: $xs)
  .content
    &_potfolio
      +flex-flow(column nowrap)
      &_item
        width: 100%
        +trailer(1)
  .table_content>td
    padding-left: 1em !important