.content
  &_potfolio
    display: flex
    justify-content: space-between
    overflow: hidden
    &_item
      display: flex
      flex-flow: column nowrap
      width: 20%
      overflow: hidden
      &_picture
        display: inline-block