.content
  animation: bounceInUp 1s
  &_potfolio
    +display-flex(flex)
    +flex-flow(row nowrap)
    +justify-content(space-between)
    +padding-leader(.5)
    overflow: hidden
    &_item
      +display-flex(inline-flex)
      +flex-flow(column nowrap)
      width: 30%
      overflow: hidden
      &_wrap
        position: relative
        width: 100%
        overflow: hidden
        &:before
          content: ""
        display: block
        padding-top: 100%
      &__img
        position:  absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
  &_title
    @extend .title
    letter-spacing: 1px
    color: $black
    +leader(.5)
    +trailer(.2)
    background-image: -webkit-linear-gradient(180deg, #0e6ca6, #56cc9c, #b274d3)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -webkit-animation: hue 30s infinite linear
  &_text
    text-align: justify
  &_info
    &_wrap
      +leader(1)
    &__text
      text-align: justify
      text-indent: 2em
    &__img
      float: right
      width: 19%
      margin: 1% 0 0 3%

.about
  +trailer(1)

.portfolio,
.why,
.contacts
  +leader(2)
  +trailer(1)

.contacts
  &_list
    &_item
      display: block
      +trailer(.4)
      color: $black
      margin-left: 1em
      &:hover
        color: $black
        letter-spacing: 1px
        opacity: .85
        +transition(.3s)
      img
        width: 25px
        +opacity(.8)
        margin-right: 10px
        +adjust-font-size-to(22px)
        vertical-align: middle

.table
  &_head
    background: #dddddd
    padding-left: 1em
    &__text
      display: inline-block
      text-transform: uppercase
      +leader(.1)
      +trailer(.1)
  &_content
    &>td
      padding-left: 2em

@media screen and (max-width: $sm)
  .content
    &_info
      &__img
        width: 31%

@media screen and (max-width: $xs)
  .content
    &_potfolio
      +flex-flow(column nowrap)
      &_item
        width: 100%
        +trailer(1)
    &_info
      &__img
        width: 50%
        margin: 0 0 0 5%