$logo-width: 256px
.header
  background: linear-gradient(270deg, #0e6ca6, #56cc9c, #b274d3)
  background-size: 600% 600%
  position: relative
  +animation (gradientColors 30s ease infinite)
  margin: 0
  width: 100%
  overflow: hidden
  &_wrap
    +display-flex(flex)
    +flex-flow(column nowrap)
    +justify-content(space-between)
  &_logo
    display: inline-block
    position: relative
    height: 300px
    +flex(1 1 $logo-width)
    +animation(submarineFadeIn 1s ease, submarine 1.5s 1s ease-in-out infinite)
    opacity: .9
      +box-shadow(2px 2px 2px $black)
    &_svg
      width: 256px
      height: 300px
      display: block
      +transform(scaleX(-1))
  &_nav
    +flex(1 1 100%)
    +display-flex(flex)
    +justify-content(center)
    +align-items(center)
    +trailer(1)
    +leader(2.5)
    width: 100%
    +animation(bounceInRight 1s)
    z-index: 1
    &__item
      @extend .nav-item
      margin: 0 2%
      color: white
      height: 100%
      letter-spacing: 1px
      font-weight: bold
      text-shadow: 0 2px 4px rgba(0,0,0,.1)
      +transition (.5s cubic-bezier(0, 1.05, 0.83, 0.9))
      opacity: .95
      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0
      &:hover
        color: rgba(255, 255, 255, 1)
        letter-spacing: 4px
        opacity: .85
