article.about(role='article', aria-label='Major info about author')
    h1.content_title About
    table(width='100%')
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') personal information
        tr(class='table_content')
            td
                span name
            td
                span Alena Kernazhytskaya
        tr(class='table_content')
            td
                span age
            td
                span 24
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') education
        tr(class='table_content')
            td
                span university
            td
                span Belarusian State Technological University
        tr(class='table_content')
            td
                span specialization
            td
                span Software Engineer
        tr(class='table_content')
            td
                span degree
            td
                span Bachelor's degree
        tr(class='table_content')
            td
                span time period
            td
                span 2008 - present
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') work experience
        tr(class='table_content')
            td
                span company name
            td
                span SoftTeco
        tr(class='table_content')
            td
                span position
            td
                span Front-end dev
        tr(class='table_content')
            td
                span time period
            td
                span July 2015 - present
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') skills
        tr(class='table_content')
            td
                span HTML
            td
                span HTML5, Jade
        tr(class='table_content')
            td
                span CSS
            td
                span CSS3, SCSS, SASS, Compass, Bootstrap
        tr(class='table_content')
            td
                span JavaScript
            td
                span jQuery, AngularJS
        tr(class='table_content')
            td
                span English
            td
                span Intermediate