article.about(role='article', aria-label='Major info about author', id='about')
    h1.content_title About
    table(width='100%')
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') personal information
        tr(class='table_content')
            td
                span name
            td
                span Alena Kernazhytskaya
        tr(class='table_content bottom-indent')
            td
                span age
            td
                span 24
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') education
        tr(class='table_content')
            td
                span university
            td
                span Belarusian State Technological University
        tr(class='table_content')
            td
                span specialization
            td
                span Software Engineer
        tr(class='table_content')
            td
                span degree
            td
                span Bachelor's degree
        tr(class='table_content bottom-indent')
            td
                span time period
            td
                span 2008 - present
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') work experience
        tr(class='table_content')
            td
                span company name
            td
                span SoftTeco
        tr(class='table_content')
            td
                span position
            td
                span Front-end dev
        tr(class='table_content bottom-indent')
            td
                span time period
            td
                span July 2015 - present
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') skills
        tr(class='table_content')
            td
                span HTML
            td
                span HTML5, Jade
        tr(class='table_content')
            td
                span CSS
            td
                span CSS3, SCSS, SASS, Compass, Bootstrap
        tr(class='table_content')
            td
                span JavaScript
            td
                span jQuery, AngularJS
        tr(class='table_content')
            td
                span English
            td
                span Intermediate
    .content_info_wrap.clearfix
        img.content_info__img.hidden-xs(src='images/myphoto.jpg')
        p.content_info__text    My primary task at work is the creation of layouts. In my work I like most of all that modern web-developers have access to a huge range of instruments. I have to learn so many things to become an adult and self-sufficient developer. I would like to gain new knowledge, to get new experiences, to know new people from studying at the IDS.
        p.content_info__text  I have to learn so many things to become an adult and self-sufficient developer. I would like to gain new knowledge, to get new experiences, to know new people from studying at the IDS.
        p.content_info__text  I would like to gain new knowledge, to get new experiences, to know new people from studying at the IDS.
