article.about(role='article', aria-label='Major info about author', id='about')
    h1.content_title About
    .content_info_wrap.clearfix
        p.content_info__text
            img.content_info__img(src='images/myphoto.jpg')
            | Lorem ipsum dolor sit amet, congue eu pede vestibulum elit facilisis. Nibh sapien porta scelerisque imperdiet. Laoreet magna, sed etorem ipsum dolor sit amet, congue eu pede vestibulum elit facilisis. Nibh sapien porta scelerisque imperdiet. Laoreet magna, sed  orem ipsum dolor sit amet, congue eu pede vestibulum elit facilisis. Nibh sapien porta scelerisque imperdiet. Laoreet magna, sed orem ipsum dolor sit amet, congue eu pede vestibulum elit facilisis. Nibh sapien porta scelerisque imperdiet. Laoreet magna, sed  sed, platea integer, nullam scelerisque,Laoreet magna, sed et sed, platea integer,Laoreet magna, sed et sed, platea integer, nullam scelerisque,Laoreet magna, sed et sed, platea integer, nullam scelerisque, q quis sit neque. Amet erat ac. Ut corrupti placerat, m
    table(width='100%')
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') personal information
        tr(class='table_content')
            td
                span name
            td
                span Alena Kernazhytskaya
        tr(class='table_content')
            td
                span age
            td
                span 24
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') education
        tr(class='table_content')
            td
                span university
            td
                span Belarusian State Technological University
        tr(class='table_content')
            td
                span specialization
            td
                span Software Engineer
        tr(class='table_content')
            td
                span degree
            td
                span Bachelor's degree
        tr(class='table_content')
            td
                span time period
            td
                span 2008 - present
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') work experience
        tr(class='table_content')
            td
                span company name
            td
                span SoftTeco
        tr(class='table_content')
            td
                span position
            td
                span Front-end dev
        tr(class='table_content')
            td
                span time period
            td
                span July 2015 - present
        tr
            td(colspan='2', class='table_head')
                span(class='table_head__text') skills
        tr(class='table_content')
            td
                span HTML
            td
                span HTML5, Jade
        tr(class='table_content')
            td
                span CSS
            td
                span CSS3, SCSS, SASS, Compass, Bootstrap
        tr(class='table_content')
            td
                span JavaScript
            td
                span jQuery, AngularJS
        tr(class='table_content')
            td
                span English
            td
                span Intermediate