article.contacts(role='article', aria-label='Author\'s contacts', id='contacts')
    h2.content_title Contacts
    address.contacts_list
        a.contacts_list_item(href='mailto:kernazhytskayalena@gmail.com')
            i.icn-envelope
            |  kernazhytskayalena@gmail.com
        a.contacts_list_item
            i.icn-old-typical-phone
            |  +375 (25) 690-47-79
        a.contacts_list_item(href='https://www.linkedin.com/in/alena-kernazhytskaya-2b7245116')
            i.icn-linkedin-sign
            |  my profile
        a.contacts_list_item(href='https://github.com/divizionbyzero')
            i.icn-github-character
            |  my account