.contacts
    h2.content_title Contacts
    div.contacts_list
        a.contacts_list_item(href='mailto:kernazhytskayalena@gmail.com')
            i.fa.fa-envelope
            |  kernazhytskayalena@gmail.com
        a.contacts_list_item
            i.fa.fa-phone
            |  +375 (25) 690-47-79
        a.contacts_list_item(href='https://www.linkedin.com/in/alena-kernazhytskaya-2b7245116')
            i.fa.fa-linkedin
            |  my profile
        a.contacts_list_item(href='https://github.com/divizionbyzero')
            i.fa.fa-github-alt
            |  my account