footer.footer
  .container.footer_wrap
    nav.col-xs-12.col-sm-7.footer_nav(role='navigation')
      a.footer_nav__item(role='link', href='#about') About
      a.footer_nav__item(role='link', href='#portfolio') Portfolio
      a.footer_nav__item(role='link', href='#contacts') Contacts
    .col-xs-12.col-sm-5.footer_copy.text-right(role='contentinfo')
      span.footer_copy__text &copy; 2015 Hele. All rights reserved.