footer.footer
  .container.footer_wrap
    nav.col-xs-12.col-sm-7.footer_nav.nopadding
      a.footer_nav__item(href='#about') About
      a.footer_nav__item(href='#portfolio') Portfolio
      a.footer_nav__item(href='#contacts') Contacts
    .col-xs-12.col-sm-5.footer_copy.text-right.nopadding(role='contentinfo')
      span.footer_copy__text &copy; 2015 Hele. All rights reserved.