footer.footer
  .container.footer_wrap
    nav.col-sm-7.footer_nav(role='navigation')
      a.footer_nav__item(role='link') About
      a.footer_nav__item(role='link') Portfolio
      a.footer_nav__item(role='link') Why
      a.footer_nav__item(role='link') Call me
    .col-sm-5.footer_copy.text-right(role='contentinfo')
      span.footer_copy__text &copy; 2015 Hele. All rights reserved.