footer.container.footer
  .col-sm-7.footer_nav
    a.header_nav__item About
    a.header_nav__item Portfolio
    a.header_nav__item Why
    a.header_nav__item Call me
  .col-sm-5.footer_copy
    span.footer_copy__text &copy; 2015 Hele. All rights reserved.