footer.footer
  .container.footer_wrap
    .col-sm-7.footer_nav
      a.footer_nav__item About
      a.footer_nav__item Portfolio
      a.footer_nav__item Why
      a.footer_nav__item Call me
    .col-sm-5.footer_copy.text-right
      span.footer_copy__text &copy; 2015 Hele. All rights reserved.