header.container.header
   a.header__logo.col-xs-12.col-sm-4(role='banner')
   nav.header_nav.col-xs-12.col-sm-8.pr0(role='navigation')
      a.header_nav__item(role='link', href='#about') About
      a.header_nav__item(role='link', href='#portfolio') Portfolio
      a.header_nav__item(role='link', href='#contacts') Contacts