article.portfolio(role='article', aria-label='Work examples')
   h2.content_title Portfolio
   .content_potfolio
      a.content_potfolio_item
         .content_potfolio_item_wrap
            img.content_potfolio_item__img(src='images/belarusn.png')
         h2.content_potfolio_item__title BelarusN
      a.content_potfolio_item
         .content_potfolio_item_wrap
            img.content_potfolio_item__img(src='images/fgolf.png')
         h2.content_potfolio_item__title Golf Federation
      a.content_potfolio_item
         .content_potfolio_item_wrap
            img.content_potfolio_item__img(src='images/spurry.png')
         h2.content_potfolio_item__title Spurry.io