article.portfolio(aria-label='Work examples', id='portfolio')
   h2.content_title Portfolio
   .content_potfolio
      a.content_potfolio_item
         figure.content_potfolio_item_wrap.cui
            img.content_potfolio_item__img(src='images/belarusn.png', alt='portfolio site 1')
            figcaption.content_potfolio_item__desc Still in development
      a.content_potfolio_item(href='http://fgolf.by/')
          figure.content_potfolio_item_wrap
            img.content_potfolio_item__img(src='images/fgolf.png', alt='portfolio site 2')
            figcaption.content_potfolio_item__desc http://fgolf.by/
      a.content_potfolio_item
          figure.content_potfolio_item_wrap.cui
            img.content_potfolio_item__img(src='images/spurry.png', alt='portfolio site 3')
            figcaption.content_potfolio_item__desc Still in development