article.portfolio(role='article', aria-label='Work examples', id='portfolio')
   h2.content_title Portfolio
   .content_potfolio
      a.content_potfolio_item
         .content_potfolio_item_wrap.cui
            img.content_potfolio_item__img(src='images/belarusn.png')
      a.content_potfolio_item.hover-scale
         .content_potfolio_item_wrap(href='http://fgolf.by/')
            img.content_potfolio_item__img(src='images/fgolf.png')
      a.content_potfolio_item
         .content_potfolio_item_wrap.cui
            img.content_potfolio_item__img(src='images/spurry.png')