article.portfolio(role='article', aria-label='Work examples')
   h2.content_title Portfolio
   .content_potfolio
      .content_potfolio_item
         a.content_potfolio_item_picture
            img.content_potfolio_item_picture__img(src='images/placeholder1.jpg')
         h4.content_potfolio_item_title First
         p.content_potfolio_item_description My first site in portfolio
      .content_potfolio_item
         a.content_potfolio_item_picture
            img.content_potfolio_item_picture__img(src='images/placeholder2.jpg')
         h4.content_potfolio_item_title First
         p.content_potfolio_item_description My first site in portfolio
      .content_potfolio_item
         a.content_potfolio_item_picture
            img.content_potfolio_item_picture__img(src='images/placeholder3.jpg')
         h4.content_potfolio_item_title First
         p.content_potfolio_item_description My first site in portfolio
      .content_potfolio_item
         a.content_potfolio_item_picture
            img.content_potfolio_item_picture__img(src='images/placeholder4.jpg')
         h4.content_potfolio_item_title First
         p.content_potfolio_item_description My first site in portfolio
