article.portfolio(aria-label='Work examples', id='portfolio')
   h2.content_title Portfolio
   .content_potfolio
      a.content_potfolio_item
         .content_potfolio_item_wrap.cui
            img.content_potfolio_item__img(src='images/belarusn.png', alt='portfolio site 1')
      a.content_potfolio_item.hover-scale(href='http://fgolf.by/')
         .content_potfolio_item_wrap
            img.content_potfolio_item__img(src='images/fgolf.png', alt='portfolio site 2')
      a.content_potfolio_item
         .content_potfolio_item_wrap.cui
            img.content_potfolio_item__img(src='images/spurry.png', alt='portfolio site 3')