include template
   title Hele
   block content
      .container
         h1.title About
         h2.subtitle About
         p.nav__item(role='link') Call me
         p.text Lorem ipsum dolor sit amet, phasellus vel luctus est vestibulum ut, urna purus amet, taciti metus turpe
         span.small-text &copy; 2015 Hele. All rights reserved.