.why
    h2.content_title Why?
    p.content_text Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because Because