html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 0.9;
    visibility: visible;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 0.9;
    visibility: visible;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 0.9;
    visibility: visible;
  }
}
@-moz-keyframes gradientColors {
  0%, 100% {
    background-position: 0;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
}
@-webkit-keyframes gradientColors {
  0%, 100% {
    background-position: 0;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
}
@keyframes gradientColors {
  0%, 100% {
    background-position: 0;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
}
@-moz-keyframes submarine {
  0% {
    transform: translateX(-10%) translateY(-50px) rotate(-5deg) scale(1.3);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
    opacity: 0;
    visibility: hidden;
  }
  5% {
    opacity: 0.9;
    visibility: visible;
  }
  10% {
    transform: translateX(0) translateY(50px) rotate(5deg) scale(1.25);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
  }
  20% {
    transform: translateX(20%) translateY(-10px) rotate(-5deg) scale(1.2);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
  }
  30% {
    transform: translateX(30%) translateY(10px) rotate(2deg) scale(1.15);
    transform-origin: 20% 40%;
    animation-timing-function: linear;
  }
  40% {
    transform: translateX(40%) rotate(0deg) rotate(-2deg) scale(1.1);
    transform-origin: 20% 40%;
    animation-timing-function: linear;
  }
  50% {
    transform: translateX(50%) rotate(0deg) rotate(1deg) scale(1.05);
    transform-origin: 20% 40%;
    opacity: 0.85;
    animation-timing-function: linear;
  }
  60% {
    transform: translateX(60%) rotate(1deg) rotate(-1deg) scale(1);
    transform-origin: 20% 40%;
    opacity: 0.8;
    animation-timing-function: linear;
  }
  70% {
    transform: translateX(70%) rotate(-1deg) rotate(1deg) scale(0.9);
    transform-origin: 40% 40%;
    opacity: 0.75;
    animation-timing-function: linear;
  }
  80% {
    transform: translateX(80%) translateY(-30px) rotate(-1deg) scale(0.8);
    transform-origin: 60% 40%;
    opacity: 0.7;
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(120%) rotate(0deg) scale(0.5);
    transform-origin: 20% 40%;
    opacity: 0.65;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes submarine {
  0% {
    transform: translateX(-10%) translateY(-50px) rotate(-5deg) scale(1.3);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
    opacity: 0;
    visibility: hidden;
  }
  5% {
    opacity: 0.9;
    visibility: visible;
  }
  10% {
    transform: translateX(0) translateY(50px) rotate(5deg) scale(1.25);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
  }
  20% {
    transform: translateX(20%) translateY(-10px) rotate(-5deg) scale(1.2);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
  }
  30% {
    transform: translateX(30%) translateY(10px) rotate(2deg) scale(1.15);
    transform-origin: 20% 40%;
    animation-timing-function: linear;
  }
  40% {
    transform: translateX(40%) rotate(0deg) rotate(-2deg) scale(1.1);
    transform-origin: 20% 40%;
    animation-timing-function: linear;
  }
  50% {
    transform: translateX(50%) rotate(0deg) rotate(1deg) scale(1.05);
    transform-origin: 20% 40%;
    opacity: 0.85;
    animation-timing-function: linear;
  }
  60% {
    transform: translateX(60%) rotate(1deg) rotate(-1deg) scale(1);
    transform-origin: 20% 40%;
    opacity: 0.8;
    animation-timing-function: linear;
  }
  70% {
    transform: translateX(70%) rotate(-1deg) rotate(1deg) scale(0.9);
    transform-origin: 40% 40%;
    opacity: 0.75;
    animation-timing-function: linear;
  }
  80% {
    transform: translateX(80%) translateY(-30px) rotate(-1deg) scale(0.8);
    transform-origin: 60% 40%;
    opacity: 0.7;
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(120%) rotate(0deg) scale(0.5);
    transform-origin: 20% 40%;
    opacity: 0.65;
    animation-timing-function: linear;
  }
}
@keyframes submarine {
  0% {
    transform: translateX(-10%) translateY(-50px) rotate(-5deg) scale(1.3);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
    opacity: 0;
    visibility: hidden;
  }
  5% {
    opacity: 0.9;
    visibility: visible;
  }
  10% {
    transform: translateX(0) translateY(50px) rotate(5deg) scale(1.25);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
  }
  20% {
    transform: translateX(20%) translateY(-10px) rotate(-5deg) scale(1.2);
    transform-origin: 20% 50%;
    animation-timing-function: linear;
  }
  30% {
    transform: translateX(30%) translateY(10px) rotate(2deg) scale(1.15);
    transform-origin: 20% 40%;
    animation-timing-function: linear;
  }
  40% {
    transform: translateX(40%) rotate(0deg) rotate(-2deg) scale(1.1);
    transform-origin: 20% 40%;
    animation-timing-function: linear;
  }
  50% {
    transform: translateX(50%) rotate(0deg) rotate(1deg) scale(1.05);
    transform-origin: 20% 40%;
    opacity: 0.85;
    animation-timing-function: linear;
  }
  60% {
    transform: translateX(60%) rotate(1deg) rotate(-1deg) scale(1);
    transform-origin: 20% 40%;
    opacity: 0.8;
    animation-timing-function: linear;
  }
  70% {
    transform: translateX(70%) rotate(-1deg) rotate(1deg) scale(0.9);
    transform-origin: 40% 40%;
    opacity: 0.75;
    animation-timing-function: linear;
  }
  80% {
    transform: translateX(80%) translateY(-30px) rotate(-1deg) scale(0.8);
    transform-origin: 60% 40%;
    opacity: 0.7;
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(120%) rotate(0deg) scale(0.5);
    transform-origin: 20% 40%;
    opacity: 0.65;
    animation-timing-function: linear;
  }
}
@-moz-keyframes slideBubbles {
  0% {
    transform: translateY(200px) scale(1.5);
    animation-timing-function: linear;
    opacity: 0.75;
  }
  30% {
    transform: translateY(0) translateX(20px) scale(1.25);
    animation-timing-function: linear;
  }
  60% {
    transform: translateY(-200px) translateX(-20px) scale(1.1);
    animation-timing-function: linear;
  }
  90% {
    transform: translateY(-400px) translateX(10px) scale(0.9);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(-500px) translateX(-10px) scale(0.7);
    opacity: 0.55;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes slideBubbles {
  0% {
    transform: translateY(200px) scale(1.5);
    animation-timing-function: linear;
    opacity: 0.75;
  }
  30% {
    transform: translateY(0) translateX(20px) scale(1.25);
    animation-timing-function: linear;
  }
  60% {
    transform: translateY(-200px) translateX(-20px) scale(1.1);
    animation-timing-function: linear;
  }
  90% {
    transform: translateY(-400px) translateX(10px) scale(0.9);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(-500px) translateX(-10px) scale(0.7);
    opacity: 0.55;
    animation-timing-function: linear;
  }
}
@keyframes slideBubbles {
  0% {
    transform: translateY(200px) scale(1.5);
    animation-timing-function: linear;
    opacity: 0.75;
  }
  30% {
    transform: translateY(0) translateX(20px) scale(1.25);
    animation-timing-function: linear;
  }
  60% {
    transform: translateY(-200px) translateX(-20px) scale(1.1);
    animation-timing-function: linear;
  }
  90% {
    transform: translateY(-400px) translateX(10px) scale(0.9);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(-500px) translateX(-10px) scale(0.7);
    opacity: 0.55;
    animation-timing-function: linear;
  }
}
@-moz-keyframes bounceInUp {
  from,
60%,
75%,
90%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInUp {
  from,
60%,
75%,
90%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from,
60%,
75%,
90%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes swing {
  0% {
    transform: translateY(10px);
  }
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes swing {
  0% {
    transform: translateY(10px);
  }
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  0% {
    transform: translateY(10px);
  }
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-moz-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
html,
body {
  -webkit-font-smoothing: antialiased;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  color: #282828;
}

body {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.content {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

.header,
.footer {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

img {
  max-width: 100%;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pr0 {
  padding-right: 0;
}

.title, .content_title {
  font-size: 32px;
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Oswald", sans-serif;
}

.subtitle {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 2em;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
}

.nav-item, .header_nav__item {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 2em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
}

.posa {
  position: absolute;
}

.small-text {
  font-size: 12px;
  font-size: 0.75em;
  line-height: 2em;
}

html {
  font-size: 112.5%;
  line-height: 1.66667em;
}

html {
  font-family: Lato, sans-serif;
}

.header {
  background: linear-gradient(270deg, #0e6ca6, #56cc9c, #b274d3);
  background-size: 600% 600%;
  position: relative;
  -moz-animation: gradientColors 30s ease infinite;
  -webkit-animation: gradientColors 30s ease infinite;
  animation: gradientColors 30s ease infinite;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.header_wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.header_logo {
  display: inline-block;
  height: 300px;
  -webkit-flex: 1 1 256px;
  flex: 1 1 256px;
  -moz-animation: fadeIn 0.5s ease, submarine 3s infinite;
  -webkit-animation: fadeIn 0.5s ease, submarine 3s infinite;
  animation: fadeIn 0.5s ease, submarine 3s infinite;
}
.header_logo_svg {
  width: 256px;
  height: 300px;
  display: block;
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 0.8;
}
.header_nav {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 1.66667em;
  width: 100%;
  -moz-animation: bounceInRight 1s;
  -webkit-animation: bounceInRight 1s;
  animation: bounceInRight 1s;
  z-index: 1;
}
.header_nav__item {
  margin: 0 2%;
  color: white;
  height: 100%;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header_nav__item:first-child {
  margin-left: 0;
}
.header_nav__item:last-child {
  margin-right: 0;
}
.header_nav__item:hover {
  color: white;
  -moz-animation: swing 0.5s;
  -webkit-animation: swing 0.5s;
  animation: swing 0.5s;
}

.header_logo_bubbles {
  opacity: 0.9;
  -moz-animation: slideBubbles 3s infinite;
  -webkit-animation: slideBubbles 3s infinite;
  animation: slideBubbles 3s infinite;
}

.header_logo_bubbles.posa {
  bottom: 0;
  left: -30px;
  -moz-animation: slideBubbles 3.5s infinite;
  -webkit-animation: slideBubbles 3.5s infinite;
  animation: slideBubbles 3.5s infinite;
}

.content {
  animation: bounceInUp 1s;
}
.content_potfolio {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 0.83333em;
  overflow: hidden;
}
.content_potfolio_item {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 30%;
  overflow: hidden;
}
.content_potfolio_item_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 100%;
}
.content_potfolio_item_wrap:before {
  content: "";
}
.content_potfolio_item__img {
  border: 5px solid #3395BF;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.content_title {
  letter-spacing: 1px;
  color: #282828;
  margin-top: 0.83333em;
  margin-bottom: 0.33333em;
}
.content_text {
  text-align: justify;
}

.about {
  margin-bottom: 1.66667em;
}

.portfolio,
.why,
.contacts {
  margin-top: 3.33333em;
  margin-bottom: 1.66667em;
}

.contacts_list_item {
  display: block;
  margin-bottom: 0.66667em;
  color: #3395BF;
  margin-left: 1em;
}
.contacts_list_item img {
  width: 25px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  margin-right: 10px;
  font-size: 1.22222em;
  line-height: 1.36364em;
  vertical-align: middle;
}

.table_head {
  background: #dddddd;
  padding-left: 1em;
}
.table_head__text {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 0.16667em;
  margin-bottom: 0.16667em;
}
.table_content > td {
  padding-left: 2em;
}

@media screen and (max-width: 768px) {
  .content_potfolio {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .content_potfolio_item {
    width: 100%;
    margin-bottom: 1.66667em;
  }
}
.footer {
  background: linear-gradient(270deg, #0e6ca6, #56cc9c, #b274d3);
  background-size: 600% 600%;
  position: relative;
  -webkit-animation: gradientColors 30s ease infinite;
  -moz-animation: gradientColors 30s ease infinite;
  animation: gradientColors 30s ease infinite;
  margin: 0;
  width: 100%;
}
.footer_wrap {
  display: block;
  margin-top: 1.66667em;
  margin-bottom: 1.66667em;
}
.footer_nav {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.footer_nav__item {
  margin: 0 3%;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  letter-spacing: 1px;
  font-size: 1.05556em;
  line-height: 1.57895em;
}
.footer_nav__item:first-child {
  margin-left: 0;
}
.footer_nav__item:last-child {
  margin-right: 0;
}
.footer_copy {
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 768px) {
  .footer_wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 0.5em;
  }
  .footer_nav {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 1.16667em;
  }
  .footer_copy {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
