html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes gradientColors {
  0%, 100% {
    background-position: 0;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
}
@-webkit-keyframes gradientColors {
  0%, 100% {
    background-position: 0;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
}
@keyframes gradientColors {
  0%, 100% {
    background-position: 0;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
}
@-moz-keyframes submarineFadeIn {
  from {
    transform: translateY(-300px) translateX(calc(50% - 150px)) scale(0.95);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0px) translateX(calc(50% - 150px)) scale(1);
    opacity: 0.9;
    visibility: visible;
  }
}
@-webkit-keyframes submarineFadeIn {
  from {
    transform: translateY(-300px) translateX(calc(50% - 150px)) scale(0.95);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0px) translateX(calc(50% - 150px)) scale(1);
    opacity: 0.9;
    visibility: visible;
  }
}
@keyframes submarineFadeIn {
  from {
    transform: translateY(-300px) translateX(calc(50% - 150px)) scale(0.95);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0px) translateX(calc(50% - 150px)) scale(1);
    opacity: 0.9;
    visibility: visible;
  }
}
@-moz-keyframes submarine {
  0% {
    transform: translateY(0) translateX(calc(50% - 150px));
  }
  16.65% {
    transform: translateY(-4px) translateX(calc(50% - 150px));
  }
  33.3% {
    transform: translateY(3px) translateX(calc(50% - 150px));
  }
  49.95% {
    transform: translateY(-3px) translateX(calc(50% - 150px));
  }
  66.6% {
    transform: translateY(2px) translateX(calc(50% - 150px));
  }
  83.25% {
    transform: translateY(-1px) translateX(calc(50% - 150px));
  }
  100% {
    transform: translateY(0) translateX(calc(50% - 150px));
  }
}
@-webkit-keyframes submarine {
  0% {
    transform: translateY(0) translateX(calc(50% - 150px));
  }
  16.65% {
    transform: translateY(-4px) translateX(calc(50% - 150px));
  }
  33.3% {
    transform: translateY(3px) translateX(calc(50% - 150px));
  }
  49.95% {
    transform: translateY(-3px) translateX(calc(50% - 150px));
  }
  66.6% {
    transform: translateY(2px) translateX(calc(50% - 150px));
  }
  83.25% {
    transform: translateY(-1px) translateX(calc(50% - 150px));
  }
  100% {
    transform: translateY(0) translateX(calc(50% - 150px));
  }
}
@keyframes submarine {
  0% {
    transform: translateY(0) translateX(calc(50% - 150px));
  }
  16.65% {
    transform: translateY(-4px) translateX(calc(50% - 150px));
  }
  33.3% {
    transform: translateY(3px) translateX(calc(50% - 150px));
  }
  49.95% {
    transform: translateY(-3px) translateX(calc(50% - 150px));
  }
  66.6% {
    transform: translateY(2px) translateX(calc(50% - 150px));
  }
  83.25% {
    transform: translateY(-1px) translateX(calc(50% - 150px));
  }
  100% {
    transform: translateY(0) translateX(calc(50% - 150px));
  }
}
@-moz-keyframes bounceInUp {
  from,
60%,
75%,
90%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInUp {
  from,
60%,
75%,
90%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from,
60%,
75%,
90%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@-moz-keyframes hue {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(-90deg);
  }
}
@-webkit-keyframes hue {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(-90deg);
  }
}
@keyframes hue {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(-90deg);
  }
}
html,
body {
  -webkit-font-smoothing: antialiased;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  color: #282828;
}

body {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.content {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

.header,
.footer {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

img {
  max-width: 100%;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pr0 {
  padding-right: 0;
}

.title, .content_title {
  font-size: 32px;
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Oswald", sans-serif;
}

.subtitle {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 2em;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
}

.nav-item, .header_nav__item {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 2em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
}

.small-text {
  font-size: 12px;
  font-size: 0.75em;
  line-height: 2em;
}

html {
  font-size: 112.5%;
  line-height: 1.66667em;
}

html {
  font-family: Lato, sans-serif;
}

.header {
  background: linear-gradient(270deg, #0e6ca6, #56cc9c, #b274d3);
  background-size: 600% 600%;
  position: relative;
  -moz-animation: gradientColors 30s ease infinite;
  -webkit-animation: gradientColors 30s ease infinite;
  animation: gradientColors 30s ease infinite;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.header_wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.header_logo {
  display: inline-block;
  position: relative;
  height: 300px;
  -webkit-flex: 1 1 256px;
  flex: 1 1 256px;
  -moz-animation: submarineFadeIn 1s ease, submarine 1.5s 1s ease-in-out infinite;
  -webkit-animation: submarineFadeIn 1s ease, submarine 1.5s 1s ease-in-out infinite;
  animation: submarineFadeIn 1s ease, submarine 1.5s 1s ease-in-out infinite;
  opacity: 0.9;
  opacity--moz-box-shadow: 2px 2px 2px #282828;
  opacity--webkit-box-shadow: 2px 2px 2px #282828;
  opacity-box-shadow: 2px 2px 2px #282828;
}
.header_logo_svg {
  width: 256px;
  height: 300px;
  display: block;
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.header_nav {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 1.66667em;
  margin-top: 4.16667em;
  width: 100%;
  -moz-animation: bounceInRight 1s;
  -webkit-animation: bounceInRight 1s;
  animation: bounceInRight 1s;
  z-index: 1;
}
.header_nav__item {
  margin: 0 2%;
  color: white;
  height: 100%;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-transition: cubic-bezier(0, 1.05, 0.83, 0.9) 0.5s;
  -o-transition: cubic-bezier(0, 1.05, 0.83, 0.9) 0.5s;
  -webkit-transition: cubic-bezier(0, 1.05, 0.83, 0.9) 0.5s;
  transition: cubic-bezier(0, 1.05, 0.83, 0.9) 0.5s;
  opacity: 0.95;
}
.header_nav__item:first-child {
  margin-left: 0;
}
.header_nav__item:last-child {
  margin-right: 0;
}
.header_nav__item:hover {
  color: white;
  letter-spacing: 4px;
  opacity: 0.85;
}

.content {
  animation: bounceInUp 1s;
}
.content_potfolio {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 0.83333em;
  overflow: hidden;
}
.content_potfolio_item {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 30%;
  overflow: hidden;
}
.content_potfolio_item_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 100%;
}
.content_potfolio_item_wrap:before {
  content: "";
}
.content_potfolio_item__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.content_title {
  letter-spacing: 1px;
  color: #282828;
  margin-top: 0.83333em;
  margin-bottom: 0.33333em;
  background-image: -webkit-linear-gradient(180deg, #0e6ca6, #56cc9c, #b274d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}
.content_text {
  text-align: justify;
}
.content_info_wrap {
  margin-bottom: 0.83333em;
}
.content_info__text {
  text-align: justify;
  text-indent: 2em;
}
.content_info__img {
  float: right;
  width: 20%;
  margin: 1% 0 0 3%;
}

.about {
  margin-bottom: 1.66667em;
}

.portfolio,
.why,
.contacts {
  margin-top: 3.33333em;
  margin-bottom: 1.66667em;
}

.contacts_list_item {
  display: block;
  margin-bottom: 0.66667em;
  color: #282828;
  margin-left: 1em;
}
.contacts_list_item:hover {
  color: #282828;
  letter-spacing: 1px;
  opacity: 0.85;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contacts_list_item img {
  width: 25px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  margin-right: 10px;
  font-size: 1.22222em;
  line-height: 1.36364em;
  vertical-align: middle;
}

.table_head {
  background: #dddddd;
  padding-left: 1em;
}
.table_head__text {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 0.16667em;
  margin-bottom: 0.16667em;
}
.table_content > td {
  padding-left: 2em;
}

@media screen and (max-width: 992px) {
  .content_info__img {
    width: 38%;
  }
}
@media screen and (max-width: 768px) {
  .content_potfolio {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .content_potfolio_item {
    width: 100%;
    margin-bottom: 1.66667em;
  }
  .content_info__img {
    width: 50%;
    margin: 0 0 0 5%;
  }
}
.footer {
  background: linear-gradient(270deg, #0e6ca6, #56cc9c, #b274d3);
  background-size: 600% 600%;
  position: relative;
  -webkit-animation: gradientColors 30s ease infinite;
  -moz-animation: gradientColors 30s ease infinite;
  animation: gradientColors 30s ease infinite;
  margin: 0;
  width: 100%;
}
.footer_wrap {
  display: block;
  margin-top: 1.66667em;
  margin-bottom: 1.66667em;
  -moz-animation: fadeIn 1s ease-out;
  -webkit-animation: fadeIn 1s ease-out;
  animation: fadeIn 1s ease-out;
}
.footer_nav {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.footer_nav__item {
  margin: 0 3%;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  letter-spacing: 1px;
  font-size: 1.05556em;
  line-height: 1.57895em;
  opacity: 0.95;
}
.footer_nav__item:first-child {
  margin-left: 0;
}
.footer_nav__item:last-child {
  margin-right: 0;
}
.footer_nav__item:hover {
  color: white;
  letter-spacing: 4px;
  opacity: 0.85;
}
.footer_copy {
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 768px) {
  .footer_wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 0.5em;
  }
  .footer_nav {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 1.16667em;
  }
  .footer_copy {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
